.menu-size {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.spacing-links{
  padding-top: 5px;
  padding-left: 5px;
  margin: 5px;
}
.qrcodes{
display: flex;
justify-content: center;
text-align: center;
}
